@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

body {
  background-color: black;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.container--children {
  margin: 0 20px;
  padding: 40px 0;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  background-color: black;
  color: #ffffff;
  font-weight: 1000;
  line-height: 1.2;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.container--children span {
  font-size: 320px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer h4 a {
  text-decoration: none;
  color: #ffffff;
}

/* Example CSS */
#colorPicker {
  width: 200px;
  height: 70px;
}